In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\shiva\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shiva\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\shiva\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

x=[1,2,3,4,5,6,7,8,9,10]
y=pd.Series(x,index=['a','b','c','d','e','f','g','h','i','j'],name="number")
print(y)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
Name: number, dtype: int64

In [17]:
import pandas as pd

x={"shivam":20,"paresh":16,"rushi":21,"ayush":24}
y=pd.Series(x,name="marks")
print(y)

shivam    20
paresh    16
rushi     21
ayush     24
Name: marks, dtype: int64

In [15]:
import pandas as pd

x={"shivam":20,"paresh":16,"rushi":21,"ayush":24}
y=pd.Series(x,name="marks")
print(y[0:2])

shivam    20
paresh    16
Name: marks, dtype: int64

In [1]:
import pandas as pd

x={"shivam":20,"paresh":16,"rushi":21,"ayush":24}
y=pd.Series(x,name="marks")
print(y[2])

21

C:\Users\shiva\AppData\Local\Temp\ipykernel_10152\297387457.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(y[2])

In [95]:
import pandas as pd

x={"shivam":20,"paresh":16,"rushi":21,"ayush":24}
y=pd.Series(x,name="marks")
print(y["shivam":"ayush"])
type(y)

shivam    20
paresh    16
rushi     21
ayush     24
Name: marks, dtype: int64

pandas.core.series.Series

In [13]:
import pandas as pd

Name={"T1":[20,22,21,17],"T2":[16,20,19,16],"T3":[21,20,14,19],"T4":[24,10,20,14]}
y=pd.DataFrame(Name,index=["shivam","rushi","ayush","paresh"])
print(y)
type(y)

        T1  T2  T3  T4
shivam  20  16  21  24
rushi   22  20  20  10
ayush   21  19  14  20
paresh  17  16  19  14

pandas.core.frame.DataFrame

In [21]:
import pandas as pd

Name={"shivam":[20,22,21,17],"paresh":[16,20,19,16],"rushi":[21,20,14,19],"ayush":[24,10,20,14]}
y=pd.DataFrame(Name,index=['T1','T2','T3','T4'],columns=["k","d","r"])
print(y)

      k    d    r
T1  NaN  NaN  NaN
T2  NaN  NaN  NaN
T3  NaN  NaN  NaN
T4  NaN  NaN  NaN

In [19]:
import pandas as pd

Name={"shivam":[20,22,21,17],"paresh":[16.00,14,19,16],"rushi":[21,20,14,19],"ayush":[24,10,20,14],"jay":[12,11,20,15]}
y=pd.DataFrame(Name,index=['T1','T2','T3','T4'])
print(y)
y.loc["T3"]
print(y.columns)
print(y.shape)
print(y.size)
print(y.ndim)
print(y.dtypes)
print(y.values)

    shivam  paresh  rushi  ayush  jay
T1      20    16.0     21     24   12
T2      22    14.0     20     10   11
T3      21    19.0     14     20   20
T4      17    16.0     19     14   15
Index(['shivam', 'paresh', 'rushi', 'ayush', 'jay'], dtype='object')
(4, 5)
20
2
shivam      int64
paresh    float64
rushi       int64
ayush       int64
jay         int64
dtype: object
[[20. 16. 21. 24. 12.]
 [22. 14. 20. 10. 11.]
 [21. 19. 14. 20. 20.]
 [17. 16. 19. 14. 15.]]

In [17]:
y.iloc[0:3,2:4]

        T3  T4
shivam  21  24
rushi   20  10
ayush   14  20

In [15]:
y[(y>15) & (y<20)]

          T1    T2    T3  T4
shivam   NaN  16.0   NaN NaN
rushi    NaN   NaN   NaN NaN
ayush    NaN  19.0   NaN NaN
paresh  17.0  16.0  19.0 NaN